@use '../../styles/abstracts/mixins' as m;
@use '../../styles/abstracts/variables' as v;

.filters {
  @include m.flex(center, flex-start, v.$spacing-3);
  margin-bottom: v.$spacing-4;
  flex-wrap: wrap;
}

.filterSelect {
  width: 180px;
}

.actions {
  @include m.flex(center, flex-end, v.$spacing-2);
}

.remark {
  font-size: v.$font-size-xs;
  color: var(--text-secondary);
  max-width: 220px;
  @include m.truncate;
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-4;
}
