@use '../../styles/abstracts/mixins' as m;
@use '../../styles/abstracts/variables' as v;

.filters {
  @include m.flex(center, flex-start, v.$spacing-3);
  margin-bottom: v.$spacing-4;
  flex-wrap: wrap;
}

.filterSelect {
  width: 160px;
}

.filterInput {
  width: 160px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-4;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: v.$spacing-4;
}

.row3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: v.$spacing-4;
}

.actions {
  @include m.flex(center, flex-end, v.$spacing-2);
}
